<h1>Edit List</h1>

<div class="row">
   <div class="col-md-4">
    <p>Guidelines for Lists</p>
    <ul>
      <li>Make sure your to-do item can be done in 7 days</li>
      <li>This item will be deleted after 7 days.</li>
      <li>The title should be at least 5 characters long</li>

    </ul>
  </div>

  <div class="col-md-8">

    <%= render partial: 'form', locals: { list: @list } %>
  </div>
</div>
