<h1>All To-Do Lists</h1>
<% @lists.each do |list| %>
     <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <%= link_to list.title, list %>
       </h4>
     </div>
   </div>
<% end %>
