
<br/>
<div class="jumbotron welcome-image">
  <h1>Blocitoff</h1>
  <p>Blocitoff is a self-destructing to-do list that deletes items after 7 days.  A tool to keep you focused on the things that really matter.<p>
  <p>
      <%= link_to "Sign In", "#", class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", "#" , class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Keep your to-do lists here!</h2>
    <p>A To-Do lists to remind you to do this week only!  For the little things.</p>
  </div>
  <div class="col-md-6">
    <h2>Sign up for free!</h2>
    <p>People have been raving about how organized they have been since using Blocitoff</p>
  </div>
</div>
